@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lexend Deca";
  font-weight: 400;
}
.box h2 {
  font-family: "Big Shouders Display";
  font-weight: 700;
}

.box a {
  transition: all 0.4s ease-in-out;
}
.box a:hover {
  color: hsl(0, 0%, 95%);
  background: transparent;
}
